@charset "UTF 8";

@font-face {
    font-family: amor;
    src: url(fonts/Milla\ Cilla\ -\ Personal\ Use.otf);
}

@font-face {
    font-family: openSans;
    src: url(fonts/OpenSans-Regular.ttf);
}
body {
    background-color: #ff0000b2;
}

.principal {
    color: black;
    font-family: 'amor';
    font-size: 70px;
    text-align: center;
    font-weight: lighter;
    padding-top: 6px;
}

main {
    background-color: white;
    height: 550px;
    border-radius: 7px;
    margin: auto;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.37);
    width: 1050px;
    padding-bottom: 10px;
}

h2 {
    font-family: 'openSans';
    padding-left: 35px;
    padding-right: 35px;
    text-align: justify;
    font-weight: bolder;
    font-size: 25px;
}

p {
    font-family: 'openSans';
    padding-left: 35px;
    padding-right: 35px;
    text-align: justify;
    font-weight: bolder;
    text-indent: 30px;
}

.smallWords {
    font-size: 10px;
    color: #ff0000b2;
    font-weight: bolder;
    text-align: center;
}

h2:hover {
    text-decoration: underline;
    color: #ff0000b2;
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}